* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.2;
  letter-spacing: 0.5px;
  z-index: 2;
  position: relative;
  margin-bottom: 2.5rem;
}

.main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  width: 50%;
  margin: auto;
}

.title-wrapper {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-wrapper {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// Global Property - Magic Box
span {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  z-index: 2;

  &.magic-box {
    display: inline-block;
    transition: 0.3s;
    transition-delay: 0s;
  }

  &.magic-box:hover {
    color: #fff;
    transition-delay: 0.11s;
  }

  &.magic-box::before {
    content: " ";
    position: absolute;
    bottom: 5px;
    left: -1px;
    padding: -10px 2px;
    width: calc(100% + 2px);
    height: 1px;
    transition: 0.4s;
  }

  &.magic-box:hover::before {
    border-color: transparent;
  }
}

// Color - underline
span {
  &.color-1::before {
    border-bottom: 2px solid #0c4842;
  }
  &.color-2::before {
    border-bottom: 2px solid #32a5b7;
  }
  &.color-3::before {
    border-bottom: 2px solid #a5dde3;
  }
  &.color-4::before {
    border-bottom: 2px solid #66b9b5;
  }
}

// Outer span - magic fade
.magic-fade::after {
  z-index: 3;
  animation: dot-fade 2s ease-in-out forwards 0.5s;
}

// Javascript Action
.bgcolor::after {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-38%, 50%);
}

.bgcolor-1::after {
  content: url(../circleImg/PNG/color1.png);
}

.bgcolor-2::after {
  content: url(../circleImg/PNG/color2.png);
}

.bgcolor-3::after {
  content: url(../circleImg/PNG/color3.png);
}

.bgcolor-4::after {
  content: url(../circleImg/PNG/color4.png);
}

// Animation
@keyframes dot-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
