.abstract-section {
  min-height: 80vh;
  width: 85%;
  margin: auto;
  border: solid rgba($color: #000000, $alpha: 0.3);
  border-width: 2px 0px;
  padding: 5rem 25vw 2rem 0vw;
}

.chapter-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.para-text {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 3.5rem;
}
