.abstract-section {
  min-height: 80vh;
  width: 95%;
  margin: auto;
  padding: 1.5rem 25% 8rem 0vw;
}

.chapter-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.para-text {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.7rem;
}
