.chapter-section {
  position: relative;
  width: 85%;
  margin: auto;
  padding: 3rem 0vw 2rem 0vw;
  border: solid rgba($color: #000000, $alpha: 0.3);
  border-width: 2px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.refer-div {
  flex: 1 1 40rem;
  display: flex;
}

.refer-left,
.refer-middle,
.refer-right {
  flex: 1 1 30rem;
}

.refer-num {
  font-size: 1.1rem;
}

.refer-content {
  font-size: 1.1rem;
  line-height: 2rem;
}

.refer-footer-num {
  font-size: 1.2rem;
}

.para-div {
  flex: 1 1 40rem;
  & .para-text {
    text-indent: 10rem;
    margin: 1rem 0rem;
  }
}

.quote-text {
  font-style: italic;
  padding: 0rem 10rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 3.5rem;
  margin: 2.4rem 0rem;
}

.quote-sign {
  font-style: italic;
  padding: 0rem 10rem;
  margin-top: -3rem;
  margin-bottom: 2.4rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 3.5rem;
  text-align: right;
}

.ellipses {
  font-style: normal;
}

/*--- Chapter on the Right handed side ---*/
.chapter-1,
.chapter-3 {
  flex-direction: row-reverse;
}

.chapter-1,
.chapter-3 {
  & .refer-div .refer-right {
    padding-right: 3rem;
  }
  & .refer-div .refer-middle {
    padding-right: 3rem;
  }
  & .refer-div .refer-left {
    padding-right: 3rem;
  }
}

/*--- Chapter on the Left handed side ---*/
.chapter-2 {
  flex-direction: row;
}

.chapter-2 {
  & .refer-div .refer-right {
    padding-left: 3rem;
  }
  & .refer-div .refer-middle {
    padding-left: 3rem;
  }
  & .refer-div .refer-left {
    padding-left: 3rem;
  }
}

/*--- Background IMG---*/
.bg-ch2-wrapper {
  position: absolute;
  right: -200rem;
  top: -45%;
  transform: scale(0.55);
  z-index: -10;
}

.bg-ch3-wrapper-1 {
  position: absolute;
  left: -280rem;
  top: -80%;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch3-wrapper-2 {
  position: absolute;
  left: -260rem;
  top: -20%;
  transform: scale(0.5);

  z-index: -10;
}

/*--- Footer Color Control ---*/
.footer-red {
  color: #ff0000;
}

.footer-orange {
  color: #ff9d00;
}

.footer-green {
  color: #00e659;
}

/*--- Reference ID Control ---*/
#no-1-refer {
  position: relative;
  top: 12rem;
}

#no-2-refer {
  position: relative;
  top: 80rem;
}

#no-3-refer {
  position: relative;
  top: 95rem;
}

#no-4-refer {
  position: relative;
  top: 195rem;
}

#no-5-refer {
  position: relative;
  top: 200rem;
}

#no-6-refer {
  position: relative;
  top: 20rem;
}

#no-7-refer {
  position: relative;
  top: 52rem;
}

#no-8-refer {
  position: relative;
  top: 125rem;
}

#no-9-refer {
  position: relative;
  top: 120rem;
}

#no-10-refer {
  position: relative;
  top: 145rem;
}

#no-11-refer {
  position: relative;
  top: 195rem;
}

#no-12-refer {
  position: relative;
  top: 15rem;
}

#no-13-refer {
  position: relative;
  top: 62rem;
}

#no-14-refer {
  position: relative;
  top: 68rem;
}

#no-15-refer {
  position: relative;
  top: 77rem;
}

#no-16-refer {
  position: relative;
  top: 193rem;
}
