/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Arvo", serif;
  background: #fffef7;
  position: relative;
  overflow-x: hidden;
}
