.main-section {
  min-height: 150vh;
}

.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
}

.main-title {
  font-size: 4rem;
}

.nav-chapter {
  font-size: 3rem;
}

.side-link-wrapper {
  display: flex;
}

.left-link {
  position: fixed;
  left: 0%;
  top: 50%;
  transform: rotate(-90deg);
}

.right-link {
  position: fixed;
  right: 0%;
  top: 50%;
  transform: rotate(90deg);
}

.left-link a,
.right-link a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
}
