/*--- Global Settings ---*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: none;
}

body {
  font-family: "Arvo", "Noto Serif SC", serif;
  font-weight: 300;
  background: #fffef7;
  position: relative;
  overflow-x: hidden;
}

a,
span {
  cursor: none;
}

img {
  pointer-events: none;
}

/*--- Cursor ---*/
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.cursor--small {
  width: 1.2rem;
  height: 1.2rem;
  left: -2.5px;
  top: -2.5px;
  border-radius: 50%;
  z-index: 11000;
  background: #444444;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transition-property: background, -webkit-transform;
  transition-property: background, -webkit-transform;
  transition-property: background, transform;
  transition-property: background, transform, -webkit-transform;
}

.cursor--active {
  width: 3rem;
  height: 3rem;
  border: 2px solid #444444;
  border-radius: 50%;
  background: none;
}

/*--- Magic Box ---*/
span {
  text-decoration: none;
  position: relative;
  z-index: 2;
}

span.magic-box {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

span.magic-box:hover {
  color: #fff;
  -webkit-transition-delay: 0.11s;
          transition-delay: 0.11s;
}

span.magic-box::before {
  content: " ";
  position: absolute;
  bottom: 1px;
  left: -1px;
  padding: -10px 2px;
  width: calc(100% + 2px);
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

span.magic-box:hover::before {
  border-color: transparent;
}

.magic-fade::after {
  z-index: 3;
  -webkit-animation: dot-fade 2s ease-in-out forwards 0.5s;
          animation: dot-fade 2s ease-in-out forwards 0.5s;
}

span.color-1::before {
  border-bottom: 2px solid #0c4842;
}

span.color-2::before {
  border-bottom: 2px solid #32a5b7;
}

span.color-3::before {
  border-bottom: 2px solid #a5dde3;
}

span.color-4::before {
  border-bottom: 2px solid #66b9b5;
}

.bgcolor::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-38%, 50%);
          transform: translate(-38%, 50%);
}

.bgcolor-1::after {
  content: url(../AnimationBackup/circleImg/PNG/color1.png);
}

.bgcolor-2::after {
  content: url(../AnimationBackup/circleImg/PNG/color2.png);
}

.bgcolor-3::after {
  content: url(../AnimationBackup/circleImg/PNG/color3.png);
}

.bgcolor-4::after {
  content: url(../AnimationBackup/circleImg/PNG/color4.png);
}

@-webkit-keyframes dot-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-section {
  height: 100vh;
  position: relative;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 20vh;
  width: 95%;
  margin: auto;
  z-index: 10;
}

/*--- Navigation Head ---*/
.main-title {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 1.5rem 0rem 2rem 0rem;
}

.nav-chapter-no {
  font-size: 2.4rem;
}

.nav-chapter-name {
  font-size: 4.3rem;
  text-decoration: none;
  color: black;
}

.nav-chapter-wrapper {
  display: inline-block;
}

.nav-chapter-wrapper .nav-chapter-name-wrapper {
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.nav-chapter-name-wrapper:hover {
  -webkit-transform: skewX(-10deg);
  transform: skewX(-10deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

/*--- Side Links ---*/
.side-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-link {
  position: fixed;
  left: -2rem;
  top: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.right-link {
  position: fixed;
  right: -3rem;
  top: 50%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.left-link-inner-wrapper a,
.right-link-inner-wrapper a {
  padding: 1.5rem 1rem;
  text-decoration: none;
  color: black;
  font-size: 1.7rem;
  font-weight: 300;
}

.left-link-inner-wrapper,
.right-link-inner-wrapper {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: none;
}

.left-link-inner-wrapper:hover,
.right-link-inner-wrapper:hover {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

/* --- Background ---*/
.bg-front-wrapper {
  margin-top: -185rem;
  margin-bottom: -200vh;
  -webkit-transform: scale(0.55);
          transform: scale(0.55);
  z-index: -1;
}

/*--- Mobile Nav ---*/
.mobile-nav-wrapper {
  display: none;
}

.abstract-section {
  min-height: 85vh;
  width: 95%;
  margin: auto;
  border: solid rgba(0, 0, 0, 0.3);
  border-width: 2px 0px 0px 0px;
  padding: 1.5rem 25% 8rem 0vw;
}

.chapter-title {
  font-size: 1.7rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

.para-text {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.7rem;
}

.chapter-section {
  position: relative;
  width: 95%;
  margin: auto;
  padding: 1.5rem 0vw 8rem 0vw;
  border: solid rgba(0, 0, 0, 0.3);
  border-width: 2px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.refer-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.refer-left,
.refer-middle,
.refer-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10rem;
          flex: 1 1 10rem;
}

.refer-num {
  font-size: 1.1rem;
}

.refer-content {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.refer-footer-num {
  font-size: 1.2rem;
}

.para-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.para-div .para-text {
  text-indent: 10rem;
  margin: 0rem 0rem;
}

.para-div .first-para {
  text-indent: 0rem;
}

.quote-wrapper {
  padding: 3rem 0rem;
}

.quote-text {
  font-style: italic;
  padding: 0rem 10rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.7rem;
}

.quote-sign {
  font-style: italic;
  padding: 0rem 10rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 3.5rem;
  text-align: right;
}

.ellipses {
  font-style: normal;
  margin: 2.7rem 0rem;
}

#reference {
  display: none;
}

/*--- Chapter on the Right handed side ---*/
#chapter-1,
#chapter-3,
#chapter-5 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#chapter-1 .refer-div .refer-right,
#chapter-3 .refer-div .refer-right,
#chapter-5 .refer-div .refer-right {
  padding-right: 3rem;
}

#chapter-1 .refer-div .refer-middle,
#chapter-3 .refer-div .refer-middle,
#chapter-5 .refer-div .refer-middle {
  padding-right: 3rem;
}

#chapter-1 .refer-div .refer-left,
#chapter-3 .refer-div .refer-left,
#chapter-5 .refer-div .refer-left {
  padding-right: 3rem;
}

/*--- Chapter on the Left handed side ---*/
#chapter-2,
#chapter-4,
#conclusion {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#chapter-2 .refer-div .refer-right,
#chapter-4 .refer-div .refer-right,
#conclusion .refer-div .refer-right {
  padding-left: 3rem;
}

#chapter-2 .refer-div .refer-middle,
#chapter-4 .refer-div .refer-middle,
#conclusion .refer-div .refer-middle {
  padding-left: 3rem;
}

#chapter-2 .refer-div .refer-left,
#chapter-4 .refer-div .refer-left,
#conclusion .refer-div .refer-left {
  padding-left: 3rem;
}

/*--- Conclusion ---*/
#conclusion .para-div {
  -webkit-box-flex: 4;
      -ms-flex: 4 1 40rem;
          flex: 4 1 40rem;
}

#conclusion .refer-div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

/*--- Background IMG---*/
.bg-tablet {
  display: none;
}

.bg-ch2-wrapper {
  position: absolute;
  right: -190rem;
  top: -110rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch3-wrapper-1 {
  position: absolute;
  left: -280rem;
  top: -200rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch3-wrapper-2 {
  position: absolute;
  left: -260rem;
  top: -50rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch4-wrapper-1 {
  position: absolute;
  right: -275rem;
  top: -170rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch4-wrapper-2 {
  position: absolute;
  right: -260rem;
  top: 70rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-1 {
  position: absolute;
  left: -250rem;
  top: -195rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-2 {
  position: absolute;
  left: -173rem;
  top: -25rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-3 {
  position: absolute;
  left: -180rem;
  bottom: -165rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-1 {
  position: absolute;
  right: -180rem;
  top: -150rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-2 {
  position: absolute;
  right: -65rem;
  bottom: -40rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-2-tab {
  position: absolute;
  right: -190rem;
  bottom: -170rem;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  z-index: -10;
}

/*--- Footer Color Control ---*/
.footer-red {
  color: #ff0000;
}

.footer-orange {
  color: #ff9d00;
}

.footer-green {
  color: #00e659;
}

.footer-blue {
  color: #3c71ff;
}

.footer-grey {
  color: #b7b6b6;
}

.footer-purple {
  color: #d958ff;
}

/*--- Reference ID Control ---*/
#no-1-refer {
  position: relative;
  top: 4%;
}

#no-2-refer {
  position: relative;
  top: 33.5%;
}

#no-3-refer {
  position: relative;
  top: 41%;
}

#no-4-refer {
  position: relative;
  top: 79%;
}

#no-5-refer {
  position: relative;
  top: 81%;
}

#no-6-refer {
  position: relative;
  top: 11.5%;
}

#no-7-refer {
  position: relative;
  top: 26%;
}

#no-8-refer {
  position: relative;
  top: 57.5%;
}

#no-9-refer {
  position: relative;
  top: 53.5%;
}

#no-10-refer {
  position: relative;
  top: 65.5%;
}

#no-11-refer {
  position: relative;
  top: 86%;
}

#no-12-refer {
  position: relative;
  top: 6%;
}

#no-13-refer {
  position: relative;
  top: 26%;
}

#no-14-refer {
  position: relative;
  top: 29%;
}

#no-15-refer {
  position: relative;
  top: 35%;
}

#no-16-refer {
  position: relative;
  top: 82%;
}

#no-17-refer {
  position: relative;
  top: 15%;
}

#no-18-refer {
  position: relative;
  top: 20%;
}

#no-19-refer {
  position: relative;
  top: 26.5%;
}

#no-20-refer {
  position: relative;
  top: 33%;
}

#no-21-refer {
  position: relative;
  top: 44%;
}

#no-22-refer {
  position: relative;
  top: 58%;
}

#no-23-refer {
  position: relative;
  top: 59%;
}

#no-24-refer {
  position: relative;
  top: 60.5%;
}

#no-25-refer {
  position: relative;
  top: 60.5%;
}

#no-26-refer {
  position: relative;
  top: 67%;
}

#no-27-refer {
  position: relative;
  top: 69.5%;
}

#no-28-refer {
  position: relative;
  top: 70.5%;
}

#no-29-refer {
  position: relative;
  top: 68.5%;
}

#no-30-refer {
  position: relative;
  top: 80.5%;
}

#no-31-refer {
  position: relative;
  top: 84.5%;
}

#no-32-refer {
  position: relative;
  top: 4%;
}

#no-33-refer {
  position: relative;
  top: 12.5%;
}

#no-34-refer {
  position: relative;
  top: 27%;
}

#no-35-refer {
  position: relative;
  top: 29.5%;
}

#no-36-refer {
  position: relative;
  top: 31%;
}

#no-37-refer {
  position: relative;
  top: 35.5%;
}

#no-38-refer {
  position: relative;
  top: 45%;
}

#no-39-refer {
  position: relative;
  top: 48%;
}

#no-40-refer {
  position: relative;
  top: 58%;
}

#no-41-refer {
  position: relative;
  top: 65%;
}

#no-42-refer {
  position: relative;
  top: 68.5%;
}

#no-43-refer {
  position: relative;
  top: 68.5%;
}

#no-44-refer {
  position: relative;
  top: 75.5%;
}

#no-45-refer {
  position: relative;
  top: 75.5%;
}

#no-46-refer {
  position: relative;
  top: 86.5%;
}

#no-47-refer {
  position: relative;
  top: 92%;
}

#no-48-refer {
  position: relative;
  top: 19%;
}

#no-49-refer {
  position: relative;
  top: 20%;
}

#no-50-refer {
  position: relative;
  top: 28%;
}

#no-51-refer {
  position: relative;
  top: 28.5%;
}

#no-52-refer {
  position: relative;
  top: 32%;
}

#no-53-refer {
  position: relative;
  top: 32.5%;
}

#no-54-refer {
  position: relative;
  top: 52.5%;
}

#no-55-refer {
  position: relative;
  top: 59%;
}

#no-56-refer {
  position: relative;
  top: 60%;
}

#no-57-refer {
  position: relative;
  top: 74%;
}

#no-60-refer {
  position: relative;
  top: 79%;
}

#no-61-refer {
  position: relative;
  top: 79.5%;
}

#no-62-refer {
  position: relative;
  top: 80%;
}

@media screen and (max-width: 1024px) {
  /*--- Header ---*/
  .main-section {
    margin: 0rem 2.5rem;
  }
  .nav-wrapper {
    padding-top: 4%;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav-chapter-wrapper {
    display: block;
  }
  .bg-front-wrapper {
    margin-top: -205rem;
  }
  /*--- Abstract ---*/
  .abstract-section {
    width: 90%;
    padding: 1.5rem 0vw 8rem 0vw;
  }
  /*--- Chapter ---*/
  .chapter-section {
    width: 90%;
  }
  .refer-div {
    display: none;
  }
  .bg-tablet {
    display: block;
  }
  /*--- Reference ----*/
  #reference {
    display: block;
  }
  .reference-grid-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (23rem)[auto-fit];
        grid-template-columns: repeat(auto-fit, 23rem);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 3rem;
  }
  .refer-title {
    font-size: 1.3rem;
    font-weight: 100;
  }
  .refer-tablet div {
    top: 0 !important;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 548px) {
  .cursor {
    display: none;
  }
  /*--- Header ---*/
  .main-header {
    width: 100%;
  }
  .main-title {
    font-size: 1.9rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav-chapter-no {
    font-size: 1.9rem;
  }
  .nav-chapter-name {
    font-size: 2.8rem;
  }
  .side-link-wrapper {
    display: none;
  }
  .mobile-nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 93%;
    margin: auto;
    position: absolute;
    bottom: 6vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1.8rem;
  }
  .mobile-left {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: left;
  }
  .mobile-left a {
    text-decoration: none;
    color: black;
  }
  .mobile-right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40rem;
            flex: 1 1 40rem;
    text-align: right;
  }
  .mobile-right a {
    text-decoration: none;
    color: black;
  }
  /*--- Abstract ---*/
  .abstract-section {
    width: 90%;
  }
  /*--- Chapter ---*/
  .chapter-section {
    width: 90%;
  }
  .para-div .para-text {
    text-indent: 5rem;
  }
  .quote-text {
    padding: 0rem 0rem 0rem 5rem;
  }
  .quote-sign {
    padding: 0rem 0rem 0rem 5rem;
  }
  .ellipses {
    padding: 0rem 5rem;
  }
  .reference-grid-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */