.chapter-section {
  position: relative;
  width: 95%;
  margin: auto;
  padding: 1.5rem 0vw 8rem 0vw;
  border: solid rgba($color: #000000, $alpha: 0.3);
  border-width: 2px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.refer-div {
  flex: 1 1 40rem;
  display: flex;
}

.refer-left,
.refer-middle,
.refer-right {
  flex: 1 1 10rem;
}

.refer-num {
  font-size: 1.1rem;
}

.refer-content {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.refer-footer-num {
  font-size: 1.2rem;
}

.para-div {
  flex: 1 1 40rem;
  & .para-text {
    text-indent: 10rem;
    margin: 0rem 0rem;
  }

  & .first-para {
    text-indent: 0rem;
  }
}

.quote-wrapper {
  padding: 3rem 0rem;
}

.quote-text {
  font-style: italic;
  padding: 0rem 10rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 2.7rem;
}

.quote-sign {
  font-style: italic;
  padding: 0rem 10rem;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 3.5rem;
  text-align: right;
}

.ellipses {
  font-style: normal;
  margin: 2.7rem 0rem;
}

#reference {
  display: none;
}

/*--- Chapter on the Right handed side ---*/
#chapter-1,
#chapter-3,
#chapter-5 {
  flex-direction: row-reverse;
}

#chapter-1,
#chapter-3,
#chapter-5 {
  & .refer-div .refer-right {
    padding-right: 3rem;
  }
  & .refer-div .refer-middle {
    padding-right: 3rem;
  }
  & .refer-div .refer-left {
    padding-right: 3rem;
  }
}

/*--- Chapter on the Left handed side ---*/
#chapter-2,
#chapter-4,
#conclusion {
  flex-direction: row;
}

#chapter-2,
#chapter-4,
#conclusion {
  & .refer-div .refer-right {
    padding-left: 3rem;
  }
  & .refer-div .refer-middle {
    padding-left: 3rem;
  }
  & .refer-div .refer-left {
    padding-left: 3rem;
  }
}

/*--- Conclusion ---*/
#conclusion {
  & .para-div {
    flex: 4 1 40rem;
  }

  & .refer-div {
    flex: 1 1 40rem;
  }
}

/*--- Background IMG---*/
.bg-tablet {
  display: none;
}

.bg-ch1-wrapper {
  position: absolute;
  left: -90rem;
  top: 10rem;
  transform: scale(1);
  z-index: -10;
}

.bg-ch2-wrapper {
  position: absolute;
  right: -190rem;
  top: -110rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch3-wrapper-1 {
  position: absolute;
  left: -280rem;
  top: -200rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch3-wrapper-2 {
  position: absolute;
  left: -260rem;
  top: -50rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch4-wrapper-1 {
  position: absolute;
  right: -275rem;
  top: -170rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch4-wrapper-2 {
  position: absolute;
  right: -260rem;
  top: 70rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-1 {
  position: absolute;
  left: -250rem;
  top: -195rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-2 {
  position: absolute;
  left: -173rem;
  top: -25rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-ch5-wrapper-3 {
  position: absolute;
  left: -180rem;
  bottom: -165rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-1 {
  position: absolute;
  right: -180rem;
  top: -150rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-2 {
  position: absolute;
  right: -65rem;
  bottom: -40rem;
  transform: scale(0.5);
  z-index: -10;
}

.bg-conclusion-wrapper-2-tab {
  position: absolute;
  right: -190rem;
  bottom: -170rem;
  transform: scale(0.5);
  z-index: -10;
}

/*--- Footer Color Control ---*/
.footer-red {
  color: #ff0000;
}

.footer-orange {
  color: #ff9d00;
}

.footer-green {
  color: #00e659;
}

.footer-blue {
  color: #3c71ff;
}

.footer-grey {
  color: #b7b6b6;
}

.footer-purple {
  color: #d958ff;
}

/*--- Reference ID Control ---*/
#no-1-refer {
  position: relative;
  top: 4%;
}

#no-2-refer {
  position: relative;
  top: 33.5%;
}

#no-3-refer {
  position: relative;
  top: 41%;
}

#no-4-refer {
  position: relative;
  top: 79%;
}

#no-5-refer {
  position: relative;
  top: 81%;
}

#no-6-refer {
  position: relative;
  top: 11.5%;
}

#no-7-refer {
  position: relative;
  top: 26%;
}

#no-8-refer {
  position: relative;
  top: 57.5%;
}

#no-9-refer {
  position: relative;
  top: 53.5%;
}

#no-10-refer {
  position: relative;
  top: 65.5%;
}

#no-11-refer {
  position: relative;
  top: 86%;
}

#no-12-refer {
  position: relative;
  top: 6%;
}

#no-13-refer {
  position: relative;
  top: 26%;
}

#no-14-refer {
  position: relative;
  top: 29%;
}

#no-15-refer {
  position: relative;
  top: 35%;
}

#no-16-refer {
  position: relative;
  top: 82%;
}

#no-17-refer {
  position: relative;
  top: 15%;
}

#no-18-refer {
  position: relative;
  top: 20%;
}

#no-19-refer {
  position: relative;
  top: 26.5%;
}

#no-20-refer {
  position: relative;
  top: 33%;
}

#no-21-refer {
  position: relative;
  top: 44%;
}

#no-22-refer {
  position: relative;
  top: 58%;
}

#no-23-refer {
  position: relative;
  top: 59%;
}

#no-24-refer {
  position: relative;
  top: 60.5%;
}

#no-25-refer {
  position: relative;
  top: 60.5%;
}

#no-26-refer {
  position: relative;
  top: 67%;
}

#no-27-refer {
  position: relative;
  top: 69.5%;
}

#no-28-refer {
  position: relative;
  top: 70.5%;
}

#no-29-refer {
  position: relative;
  top: 68.5%;
}

#no-30-refer {
  position: relative;
  top: 80.5%;
}

#no-31-refer {
  position: relative;
  top: 84.5%;
}

#no-32-refer {
  position: relative;
  top: 4%;
}

#no-33-refer {
  position: relative;
  top: 12.5%;
}

#no-34-refer {
  position: relative;
  top: 27%;
}

#no-35-refer {
  position: relative;
  top: 29.5%;
}

#no-36-refer {
  position: relative;
  top: 31%;
}

#no-37-refer {
  position: relative;
  top: 35.5%;
}

#no-38-refer {
  position: relative;
  top: 45%;
}

#no-39-refer {
  position: relative;
  top: 48%;
}

#no-40-refer {
  position: relative;
  top: 58%;
}

#no-41-refer {
  position: relative;
  top: 65%;
}

#no-42-refer {
  position: relative;
  top: 68.5%;
}

#no-43-refer {
  position: relative;
  top: 68.5%;
}

#no-44-refer {
  position: relative;
  top: 75.5%;
}

#no-45-refer {
  position: relative;
  top: 75.5%;
}

#no-46-refer {
  position: relative;
  top: 86.5%;
}

#no-47-refer {
  position: relative;
  top: 92%;
}

#no-48-refer {
  position: relative;
  top: 19%;
}

#no-49-refer {
  position: relative;
  top: 20%;
}

#no-50-refer {
  position: relative;
  top: 28%;
}

#no-51-refer {
  position: relative;
  top: 28.5%;
}

#no-52-refer {
  position: relative;
  top: 32%;
}

#no-53-refer {
  position: relative;
  top: 32.5%;
}

#no-54-refer {
  position: relative;
  top: 52.5%;
}

#no-55-refer {
  position: relative;
  top: 59%;
}

#no-56-refer {
  position: relative;
  top: 60%;
}

#no-57-refer {
  position: relative;
  top: 74%;
}

#no-60-refer {
  position: relative;
  top: 79%;
}

#no-61-refer {
  position: relative;
  top: 79.5%;
}

#no-62-refer {
  position: relative;
  top: 80%;
}
