@media screen and (max-width: 1024px) {
  /*--- Header ---*/
  .main-section {
    //margin: 0rem 2.5rem;
  }

  .main-header {
    width: 90%;
  }

  .nav-wrapper {
    padding-top: 4%;
    align-self: flex-start;
  }
  .nav-chapter-wrapper {
    display: block;
  }
  .bg-front-wrapper {
    margin-top: -205rem;
  }

  /*--- Abstract ---*/
  .abstract-section {
    width: 90%;
    padding: 1.5rem 0vw 8rem 0vw;
  }

  /*--- Chapter ---*/
  .chapter-section {
    width: 90%;
  }

  .refer-div {
    display: none;
  }

  .bg-tablet {
    display: block;
  }

  /*--- Reference ----*/

  #reference {
    display: block;
  }

  .reference-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, 23rem);
    justify-content: center;
    grid-gap: 3rem;
  }

  .refer-title {
    font-size: 1.3rem;
    font-weight: 100;
  }

  .refer-tablet div {
    top: 0 !important;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 548px) {
  .cursor {
    display: none;
  }

  html,
  body {
    overflow-x: hidden;
  }

  /*--- Header ---*/
  .main-section {
    height: 100vh;
  }

  .main-header {
    width: 90%;
    //position: relative;
  }

  .main-title {
    font-size: 1.9rem;
    align-self: flex-start;
  }

  .main-sticky .main-title {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .main-title-wrapper {
    z-index: 100;
  }

  .mobile-nav {
    position: fixed;
    width: 100vw;
    height: 25vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 6rem;
    list-style-type: none;
    background: #fffef7;
    z-index: 1000;

    & li {
      font-size: 1.7rem;
      margin: 2rem 0rem;

      & a {
        text-decoration: none;
        color: black;

        &:hover {
          color: #444444;
        }
      }
    }
  }

  .mobile-nav.text {
    z-index: 99;
    height: 21rem;
    justify-content: end;
    top: 2rem;
  }

  .nav-chapter-no {
    font-size: 1.9rem;
  }

  .nav-chapter-name {
    font-size: 2.8rem;
  }

  .side-link-wrapper {
    display: none;
  }

  .mobile-nav-wrapper {
    display: flex;
    width: 90%;
    position: absolute;
    bottom: 3rem;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
  }

  .mobile-left {
    flex: 1 1 40rem;
    text-align: left;
    & a {
      text-decoration: none;
      color: black;
    }
  }

  .mobile-right {
    flex: 1 1 40rem;
    text-align: right;
    & a {
      text-decoration: none;
      color: black;
    }
  }

  /*--- Abstract ---*/
  .abstract-section {
    width: 90%;
  }

  /*--- Chapter ---*/
  .chapter-section {
    width: 90%;
  }

  .para-div {
    & .para-text {
      text-indent: 5rem;
    }
  }

  .quote-text {
    padding: 0rem 0rem 0rem 5rem;
  }

  .quote-sign {
    padding: 0rem 0rem 0rem 5rem;
  }

  .ellipses {
    padding: 0rem 5rem;
  }

  .reference-grid-wrapper {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }
}
