.color-header {
  position: relative;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-title-wrapper {
  background: white;
  position: fixed;
}

.color-title {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 1.5rem 0rem 2rem 0rem;

  & a {
    text-decoration: none;
    color: black;
  }
}

.sort-buttons {
  position: absolute;
  right: 1rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(0%, -50%);

  & div {
    position: relative;
  }

  & button {
    background: transparent;
    border: 1px solid black;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    margin: 0rem 0.6rem;
    font-size: 1.7rem;
    transition: all 0.2s ease;
    cursor: none;

    &:hover {
      background: black;
      color: white;
    }
  }

  & span {
    display: none;
    position: absolute;
    bottom: -50%;
    left: 50%;
    font-size: 1.3rem;
    transform: translate(-50%);
  }
}

/*--- Color Number Section ---*/
.color-number-section {
  min-height: 100vh;
}
