@media screen and (max-width: 882px) {
  .general-header {
    flex-direction: column;

    z-index: 500;
    //min-height: 10vh;
    margin-bottom: 0rem;
  }
  .general-title-wrapper {
    position: fixed;
    background: #fffef7;
  }

  .sort-buttons {
    position: relative;
    top: 6rem;
    right: auto;
    margin-top: 1rem;
    z-index: 50;
  }

  .category-animal {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 548px) {
  .general-title-wrapper {
    display: none;
  }

  .sort-buttons {
    top: 6.7rem;
  }

  .category-animal {
    margin-top: 6rem;
  }

  .sort-none {
    display: none;
  }
}
