* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.2;
  letter-spacing: 0.5px;
  z-index: 2;
  position: relative;
  margin-bottom: 2.5rem;
}

.main-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  width: 50%;
  margin: auto;
}

.title-wrapper {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  text-decoration: none;
  position: relative;
  cursor: pointer;
  z-index: 2;
}

span.magic-box {
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

span.magic-box:hover {
  color: #fff;
  -webkit-transition-delay: 0.11s;
          transition-delay: 0.11s;
}

span.magic-box::before {
  content: " ";
  position: absolute;
  bottom: 5px;
  left: -1px;
  padding: -10px 2px;
  width: calc(100% + 2px);
  height: 1px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

span.magic-box:hover::before {
  border-color: transparent;
}

span.color-1::before {
  border-bottom: 2px solid #0c4842;
}

span.color-2::before {
  border-bottom: 2px solid #32a5b7;
}

span.color-3::before {
  border-bottom: 2px solid #a5dde3;
}

span.color-4::before {
  border-bottom: 2px solid #66b9b5;
}

.magic-fade::after {
  z-index: 3;
  -webkit-animation: dot-fade 2s ease-in-out forwards 0.5s;
          animation: dot-fade 2s ease-in-out forwards 0.5s;
}

.bgcolor::after {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translate(-38%, 50%);
          transform: translate(-38%, 50%);
}

.bgcolor-1::after {
  content: url(../circleImg/PNG/color1.png);
}

.bgcolor-2::after {
  content: url(../circleImg/PNG/color2.png);
}

.bgcolor-3::after {
  content: url(../circleImg/PNG/color3.png);
}

.bgcolor-4::after {
  content: url(../circleImg/PNG/color4.png);
}

@-webkit-keyframes dot-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes dot-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */